<template>
  <div class="container">
    <div>
      <form @submit.prevent="createUser">
        <label>First Name:</label>
        <input v-model="input.fName" type="text">
        <label>Last Name:</label>
        <input v-model="input.lName" type="text">
        <label>Score:</label>
        <input v-model="input.score" type="text">
        <div>
          <button>
            Save
          </button>
        </div>
      </form>
    </div>
    <table>
      <tr class="first-row">
        <th>Name</th>
        <th>Family</th>
        <th>Score</th>
      </tr>
      <tr v-for="(item, index) in users" :key="index">
        <td>{{ item.fName }}</td>
        <td>{{ item.lName }}</td>
        <td>{{ item.score }}</td>
        <button @click="editUser(index)">
          Edit
        </button>
        <button @click="deleteUser(index)">
          Delete
        </button>
      </tr>
    </table>
    <div v-if="showEdit">
      <form @submit.prevent="updateUser">
        <label>First Name:</label>
        <input v-model="edit.fName" type="text">
        <label>Last Name:</label>
        <input v-model="edit.lName" type="text">
        <label>Score:</label>
        <input v-model="edit.score" type="text">
        <div>
          <button>
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      users: [
        { fName: 'ali', lName: 'mohammadi', score: 70 },
        { fName: 'vahid', lName: 'mohammadi', score: 100 },
        { fName: 'saeed', lName: 'akbari', score: 80 },
        { fName: 'hamid', lName: 'sadeghi', score: 90 },
        { fName: 'ahmad', lName: 'molaee', score: 5 }
      ],
      input: {
        fName: '',
        lName: '',
        score: ''
      },
      edit: {
        fName: '',
        lName: '',
        score: ''
      },
      showEdit: false
    }
  },
  methods: {
    deleteUser (id) {
      this.users.splice(id, 1)
    },
    createUser () {
      this.users.push({
        fName: this.input.fName,
        lName: this.input.lName,
        score: this.input.score
      })
      for (const key in this.input) {
        this.input[key] = ''
      }
    },
    editUser (index) {
      this.showEdit = true
      this.edit = this.users[index]
      this.users.splice(index, 1)
      console.log(this.edit)
      console.log(this.users[index])
    },
    updateUser () {
      this.users.push({
        fName: this.edit.fName,
        lName: this.edit.lName,
        score: this.edit.score
      })
      this.showEdit = false
    }
  }
}
</script>
<style>
 .first-row {
  background-color: #ccc;
  border-radius:5px ;
}
td{
  border-bottom: 1px solid #ccc;
}
table {
  width: 70%;
  margin: auto;
}
.container {
  width: 100%;
  padding: 48px;
  margin: auto;
}
form{
  display: flex;
  flex-direction: column;
  width: 50%;
}
button{
  margin: 10px;
}
</style>
